.containerMain {
   padding: 200px;
}
.happyDiv {
   padding-top: 100px;
}
.happy {
   display: block;
   margin: auto;
}
.vitaemo {
   display: none;
}
span {
   display: block;
   margin: 0 auto;
   text-align: center;
   color: #FC2200;
   margin-bottom: 10px;
}
img {
   display: block;
   margin: 0 auto;
   width: 250px;
}
.back {
   display: block;
   margin: 20px auto;
}

@media screen and (max-width: 590px) {
   span {
      font-size: 11px;
      text-align: center;
   }
}

@media screen and (max-width: 600px) {
   img {
      width: 150px;
   }
   .containerMain {
      padding: 10px;
   }
   .happyDiv {
      padding-top: 1px;
   }
   .happyDiv {
      padding-top: 10px;
   }

}
